<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Poblacion</th>
            <th>Mas información</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises; index as i">
            <td scope="row">{{i + 1}}</td>
            <td>
                <img [src]="pais.flags.png" alt="bandera de {{pais.name.common}}" style="width: 50px;" />
            </td>
            <td>{{pais.name.common || pais.name.official}}</td>
            <td>{{pais.population | number}} </td>
            <td>
                <a [routerLink]="['/pais', pais.cca2]" >Ver mas...</a>
            </td>
        </tr>
    </tbody>
</table>
